body {
	background: url("../images/background1.jpg");
	
	
}


#bigtitle {
	font-family: 'Rubik Mono One', sans-serif;
	color:black;
	letter-spacing: 50px;
	font-size:32px;

}

#bigtitle img {
	height:220px;
	width:500px;
	clear:both;
	margin-left:350px;
	margin-top:30px;
}

#headingtext {
	margin-left:350px;
	margin-top:20px;

}

#pak1{
	margin-top:30px;
	margin-left:300px;
	font-family: 'Rubik Mono One', sans-serif;
	color:black;
	font-size:25px;
}

#pak2 {
	margin-left:200px;
	margin-top: 20px;
	font-family: 'Rubik Mono One', sans-serif;
	color:black;
	font-weight:bold;
	font-size:12px;

}

.gamedata1 {
	margin-top:30px;
	margin-left:200px;
	margin-right: 20px;
	border-style: solid;
    border-width: 5px;
    height:500px;
    width:400px;
    float:left;
   font-family: 'Rubik Mono One', sans-serif;
    font-size:15px;
    
    text-align:center;
    margin-bottom:20px;
    
}

.gamedata2 {
	margin-top:30px;
	/*margin-left:210px;*/
	border-style: solid;
    border-width: 5px;
    height:500px;
    width:400px;
    float:left;
    font-family: 'Rubik Mono One', sans-serif;
    font-size:15px;
    
    text-align:center;
    margin-bottom:20px;
   

}

.innerbox {
	padding:40px;

}

#relevantImg img {
	
	max-width:350px;
	max-height: 300px;
}

@media screen and (max-width: 1070px) {

	body {
	background-image: url("../images/background2.png");
	
	
}

.gamedata1 {
	background-color: white;
	width:75%;
	height:50%;
	clear:both;

	margin-left:15%;
	margin-right:15%;

}

.gamedata2{
	background-color:white;
	width:75%;
	height:50%;
	clear:both;

	margin-left:15%;
	margin-right:15%;
}

#bigtitle img {
	height:50%;
	width:75%;
	clear:both;
	margin-left:15%;
	margin-top:30px;
	margin-right:20%;

}

#headingtext {
	margin-left:auto;
	margin-right:auto;
	font-size:100px;
	letter-spacing: 10px;
	text-align:center;
	background:white;
	

}

#pak1 {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background:white;

	}

#pak2 {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background:white;

	}

	#relevantImg img {
	
	max-width:50%;
	max-height: 50%;
}

}

@media screen and (max-width: 680px) {

	#headingtext {
	margin-left:auto;
	margin-right:auto;
	font-size:70px;
	letter-spacing: 10px;
	text-align:center;
	

}

@media screen and (max-width: 520px) {

	#headingtext {
	margin-left:auto;
	margin-right:auto;
	font-size:50px;
	letter-spacing: 10px;
	text-align:center;
	

}

@media screen and (max-width: 400px) {

	#headingtext {
	margin-left:auto;
	margin-right:auto;
	font-size:40px;
	letter-spacing: 10px;
	text-align:center;
	

}

@media screen and (max-width: 350px) {

	#headingtext {
	margin-left:auto;
	margin-right:auto;
	font-size:30px;
	letter-spacing: 10px;
	text-align:center;
	

}

	}
