body {
	background: url("../images/background1.jpg");
	
	
}


#bigtitle {
	font-family: 'Rubik Mono One', sans-serif;
	color:black;
	letter-spacing: 50px;
	font-size:32px;

}

#bigtitle img {
	height:220px;
	width:500px;
	clear:both;
	margin-left:350px;
	margin-top:30px;
}

#headingtext {
	margin-left:350px;
	margin-top:20px;

}

#pak1{
	margin-top:30px;
	margin-left:300px;
	font-family: 'Rubik Mono One', sans-serif;
	color:black;
	font-size:25px;
}

#pak2 {
	margin-left:200px;
	margin-top: 20px;
	font-family: 'Rubik Mono One', sans-serif;
	color:black;
	font-weight:bold;
	font-size:12px;

}

.gamedata1 {
	margin-top:30px;
	margin-left:200px;
	margin-right: 20px;
	border-style: solid;
    border-width: 5px;
    height:500px;
    width:400px;
    float:left;
   font-family: 'Rubik Mono One', sans-serif;
    font-size:15px;
    
    text-align:center;
    
}

.gamedata2 {
	margin-top:30px;
	/*margin-left:210px;*/
	border-style: solid;
    border-width: 5px;
    height:500px;
    width:400px;
    float:left;
    font-family: 'Rubik Mono One', sans-serif;
    font-size:15px;
    
    text-align:center;
   

}

.innerbox {
	padding:40px;

}

#relevantImg img {
	
	max-width:350px;
	max-height: 300px;
}